<footer class = "page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
           <div class="col-md-12 d-flex justify-content-center">
           <h4 class = "text-white">Siga-nos nas redes sociais</h4>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
            <ul class = "social-network">
             <li>
                 <a href="https://www.facebook.com/0RAFFA" target="_blank" class="icoFacebook">
                     <i class="fab fa-facebook-square">
                     </i>
                 </a>
             </li>
             <li>
                <a href="https://www.instagram.com/0rafaelrodrigues/" target="_blank" class="icoInstagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/raffarodrigues/" target="_blank" class="icoLinkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            </ul>     
            </div>
        </div>
    </div>
</footer>
